<div class="container">
  <div class="row">
    <div class="span12 filter">
      <div class="filter_desc">
        <h2>Filters</h2>
        <span>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </span>
      </div>
      <div class="filter_bundle">
        <h4>Preconfigured filter bundles</h4>
        <span>
          Lorem ipsum dolor sit amet, consetetur sadipscing
        </span>
        <div class="well">
          <ul>
            <li>   
              <input type="checkbox" name="industries" value="Administration">VC/PE/Investor professional
            </li>
            <li>   
              <input type="checkbox" name="industries" value="Advertising" >Financial Services
            </li>
            <li>   
              <input type="checkbox" name="industries" value="Agriculture" >B2B IT & Technology Services
            </li>
          </ul>
          <ul>
            <li>   
              <input type="checkbox" name="industries" value="Aerospace">B2B Hi-Tech Sales
            </li>
            <li>   
              <input type="checkbox" name="industries" value="Aircraft">B2B Marketing Services
            </li>
            <li>   
              <input type="checkbox" name="industries" value="Airline">International Business Development
            </li>
          </ul>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-primary btn-small">Update Filters</button>
        </div>
      </div>
    </div>
    <div class="span12 custom_filter">
      <div class="custom_filter_desc">
        <h4>Custom filters</h4>
        <span>
          Lorem ipsum dolor sit amet, consetetur sadipscing
        </span>
      </div>
      <div class="custom_filter_options">
        <ul class ="span3">
          <li class="custom_filter_options_header">Industries</li>
          <li class="custom_filter_options_desc"> Lorem ipsum dolor sit amet, consetetur sadipscing</li>
          <li class="custom_filter_options_list">
            <ul class ="span3 scroll">  
              <li><input type="checkbox" name="industries" value="Administration" >Administration</li>
              <li><input type="checkbox" name="industries" value="Advertising" >Advertising</li>
              <li><input type="checkbox" name="industries" value="Agriculture" >Agriculture</li>
              <li><input type="checkbox" name="industries" value="Aerospace" >Aerospace</li>
              <li><input type="checkbox" name="industries" value="Aircraft" >Aircraft</li>
              <li><input type="checkbox" name="industries" value="Airline" >Airline</li>
              <li><input type="checkbox" name="industries" value="Apparel" >Apparel</li>
              <li><input type="checkbox" name="industries" value="Automotive" >Automotive</li>
              <li><input type="checkbox" name="industries" value="Banking" >Banking</li>
              <li><input type="checkbox" name="industries" value="Broadcasting" >Broadcasting</li>
              <li><input type="checkbox" name="industries" value="Brockerage" >Brokerage</li>
              <li><input type="checkbox" name="industries" value="Biotechnology" >Biotechnology</li>
            </ul>
          </li>
        </ul>
        <ul class ="span3">
          <li class="custom_filter_options_header">Regions</li>
          <li class="custom_filter_options_desc"> Lorem ipsum dolor sit amet, consetetur sadipscing</li>
          <li class="custom_filter_options_list">
            <ul class ="span3">
              <li><input type="checkbox" name="regions" value="United States" >United States</li>
              <li><input type="checkbox" name="regions" value="Canada" >Canada</li>
              <li><input type="checkbox" name="regions" value="Latin America" >Latin America</li> 
              <li><input type="checkbox" name="regions" value="Asia" >Asia</li>
              <li><input type="checkbox" name="regions" value="Europe" >Europe</li>
              <li><input type="checkbox" name="regions" value="Australia" >Australia</li>
            </ul>
          </li>
        </ul>
        <ul class ="span3">
          <li class="custom_filter_options_header">Types of News</li>
          <li class="custom_filter_options_desc"> Lorem ipsum dolor sit amet, consetetur sadipscing</li>
          <li class="custom_filter_options_list">
            <ul class ="span3">
              <li><input type="checkbox" name="newstypes" value="Job Change">Job Change</li>
              <li><input type="checkbox" name="newstypes" value="New Company">New Company</li>
              <li><input type="checkbox" name="newstypes" value="Acquisition">Acquisition </li> 
              <li><input type="checkbox" name="newstypes" value="Recently Funded">Recently Funded</li>
              <li><input type="checkbox" name="newstypes" value="Board Change">Board Change</li>
              <li><input type="checkbox" name="newstypes" value="Product Information">Product Information</li>
              <li><input type="checkbox" name="industries" value="Earnings release">Earnings release</li>    
              <li> <input type="checkbox" name="industries" value="Partnership">Partnership</li>
              <li> <input type="checkbox" name="industries" value="Customer Information">Customer Information</li>    
            </ul>
          </li>
        </ul>
        <ul class ="span3">
          <li class="custom_filter_options_header">Companies</li>
          <li class="custom_filter_options_desc"> Lorem ipsum dolor sit amet, consetetur sadipscing</li>
          <li>
            <h5>Add a company</h5>
            <div class="input-append">
              <input type="text" name="company" placeholder="Type company name" class="input-medium"/>
              <button class="btn" type="button">+</button>
            </div>
            <br>
            <a href="">Or browse to upload a list</a>
          </li>
        </ul>
      </div>
      <div  class="span11 pull-right update_filters_btn">
        <button type="button" class="btn btn-primary btn-small">Update Filters</button>
      </div>
    </div>
  </div>
</div>
