<div class="content">
  <div class="row" style="width: 1010px;">
    <div class="span9" style="background-color: white;width: 698px;">
      <div  class="hero-unit"style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;margin: 10px;padding:10px" >
        <div class="row">
          <div class="span3" style="position: relative;width: 220px">
            <span >
              <img src="/assets/pradeep.jpg" style="height: 30px; width: 30px;">
            </span>
            <span style="position: absolute;padding-left: 5px">
              <span style="font-size: 16px;color:#1B75BB;font-weight: bold ">Network Alert Summary</span> 
              <span style="font-size: 13px;color: #8C8D8F"> Thursday, <% @date =  Time.now %><%= @date.strftime("%B %d, %Y") %></span>
            </span>
          </div>
          <div class="span3" style="width: 190px">
            <ul style="list-style: none; color: #969594;font-weight: bold;font-size: 20px">
              <li> 14  <small>companies made</small></li>
              <li> 10  <small>headlines</small></li>
            </ul>
          </div>
          <div class="span1" style="border-left: 1px solid #bcbdbf; padding: 2px;height: 50px;width: 1px;"></div>
          <div class="span2"  style="width: 190px;margin-left: 0px;">
            <ul style="list-style: none; color: #969594;font-weight: bold;font-size: 17px">
              <li> 2 <small>new companies </small></li>
              <li> 3  <small>acquisitions</small></li>
              <li> 5 <small>recently funded</small></li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <h2 style="color: #5A5B5D; padding-left: 20px; padding-top: 10px;">Alert <span style="font-size:14px;" >Display 7 days</span> <b class="caret"style="vertical-align: middle;"></b></h2>
      </div> 
      <hr style="border: 2px solid #D0D2D3;">

      <div style="height: 175px">
        <span class="pull-right" style="margin-top: -10px;padding-right: 10px;color: #8C8D8F"><%= "Aug 29, 7:35am" %></span>
        <span class="content" style="font-size: 18px;color: #8C8D8F; padding-left: 20px;">Your connections with
          <b>
            Discovery Communications
          </b>
        </span>
        <br>
        <span class="news" style="font-size: 18px;color: #5d5e60; padding-left: 20px;font-weight: bold">Recenty Funded: Lumosity Unlocks $31.5M for Brain Training</span>
        <br><br>
        <span class="news" style="font-size: 18px;color: #1B75BB">
          <div class="span5" style="display: inline">

            <span style="position: relative" class="span1">
              <span>
                <img src="/assets/pradeep.jpg" style="height: 60px; width: 60px">
              </span>
              <span class="label label-info" style="position: absolute;right:0px;top:2px">You</span>                      
            </span>
            <span  class="span1" style="width: 20px;padding-top: 15px">  <img src="/assets/arrow.png"></span>
            <span  class="span1"><img src="/assets/Paula_Smith_New.jpg" style="height: 60px; width: 60px;"></span> 

            <span class="span2"  style="font-size: 14px;color: #8F9093;position: relative">
              <ul style="list-style: none;">
                <li style=" font-weight: bold">Paula Smith</li>
                <li>Senior Editor</li>
                <li>Market Blog</li>
              </ul>
            </span>
          </div>
        </span>

        <div style="padding-left: 20px">
          <div class="pull-left" >
            <span style="width:200px;margin-left: 5px;color: #8F9093"> + Company</span>
            <span  style="width:200px;margin-left: 5px;color: #8F9093"> + Network</span>
            <span  style="width:200px;margin-left: 5px;color:#1B75BB"> Your XX LinkedIn connections in Discovery...</span>
          </div>
          <div class="pull-right" style="padding-right: 10px;margin-top: -30px">
            <button type="button" class="btn btn-primary btn-small" style="width: 120px">Add to Reminders</button><br/>
            <button type="button" class="btn btn-primary btn-small" style="width: 120px;margin-top: 3px">Share this alert</button>
          </div>
        </div>       
      </div>
      <div style="height: 175px">
        <hr>
        <span class="pull-right" style="margin-top: -10px;padding-right: 10px;color: #8C8D8F"><%= "Aug 29, 7:35am" %></span>
        <span class="content" style="font-size: 18px;color: #8C8D8F; padding-left: 20px;">Your connections with
          <b>
            Discovery Communications
          </b>
        </span>
        <br>
        <span class="news" style="font-size: 18px;color: #5d5e60; padding-left: 20px;font-weight: bold">Recenty Funded: Lumosity Unlocks $31.5M for Brain Training</span>
        <br><br>
        <span class="news" style="font-size: 18px;color: #1B75BB">
          <div class="span5" style="display: inline">

            <span style="position: relative" class="span1">
              <span>
                <img src="/assets/pradeep.jpg" style="height: 60px; width: 60px">
              </span>
              <span class="label label-info" style="position: absolute;right:0px;top:2px">You</span>                      
            </span>
            <span  class="span1" style="width: 20px;padding-top: 15px">  <img src="/assets/arrow.png"></span>
            <span  class="span1"><img src="/assets/Paula_Smith_New.jpg" style="height: 60px; width: 60px;"></span> 

            <span class="span2"  style="font-size: 14px;color: #8F9093;position: relative">
              <ul style="list-style: none;">
                <li style=" font-weight: bold">Paula Smith</li>
                <li>Senior Editor</li>
                <li>Market Blog</li>
              </ul>
            </span>
          </div>
        </span>

        <div style="padding-left: 20px">
          <div class="pull-left" >
            <span style="width:200px;margin-left: 5px;color: #8F9093"> + Company</span>
            <span  style="width:200px;margin-left: 5px;color: #8F9093"> + Network</span>
            <span  style="width:200px;margin-left: 5px;color:#1B75BB"> Your XX LinkedIn connections in Discovery...</span>
          </div>
          <div class="pull-right" style="padding-right: 10px;margin-top: -30px">
            <button type="button" class="btn btn-primary btn-small" style="width: 120px">Add to Reminders</button><br/>
            <button type="button" class="btn btn-primary btn-small" style="width: 120px;margin-top: 3px">Share this alert</button>
          </div>
        </div>       
      </div>
      <div style="height: 175px">
        <hr>
        <span class="pull-right" style="margin-top: -10px;padding-right: 10px;color: #8C8D8F"><%= "Aug 29, 7:35am" %></span>
        <span class="content" style="font-size: 18px;color: #8C8D8F; padding-left: 20px;">Your connections with
          <b>
            Discovery Communications
          </b>
        </span>
        <br>
        <span class="news" style="font-size: 18px;color: #5d5e60; padding-left: 20px;font-weight: bold">Recenty Funded: Lumosity Unlocks $31.5M for Brain Training</span>
        <br><br>
        <span class="news" style="font-size: 18px;color: #1B75BB">
          <div class="span5" style="display: inline">

            <span style="position: relative" class="span1">
              <span>
                <img src="/assets/pradeep.jpg" style="height: 60px; width: 60px">
              </span>
              <span class="label label-info" style="position: absolute;right:0px;top:2px">You</span>                      
            </span>
            <span  class="span1" style="width: 20px;padding-top: 15px">  <img src="/assets/arrow.png"></span>
            <span  class="span1"><img src="/assets/Paula_Smith_New.jpg" style="height: 60px; width: 60px;"></span> 

            <span class="span2"  style="font-size: 14px;color: #8F9093;position: relative">
              <ul style="list-style: none;">
                <li style=" font-weight: bold">Paula Smith</li>
                <li>Senior Editor</li>
                <li>Market Blog</li>
              </ul>
            </span>
          </div>
        </span>

        <div style="padding-left: 20px">
          <div class="pull-left" >
            <span style="width:200px;margin-left: 5px;color: #8F9093"> + Company</span>
            <span  style="width:200px;margin-left: 5px;color: #8F9093"> + Network</span>
            <span  style="width:200px;margin-left: 5px;color:#1B75BB"> Your XX LinkedIn connections in Discovery...</span>
          </div>
          <div class="pull-right" style="padding-right: 10px;margin-top: -30px">
            <button type="button" class="btn btn-primary btn-small" style="width: 120px">Add to Reminders</button><br/>
            <button type="button" class="btn btn-primary btn-small" style="width: 120px;margin-top: 3px">Share this alert</button>
          </div>
        </div>       
      </div>

    </div>
    <div class="span3" style=" width: 264px;background-color: white">
      <div style="padding-left:  15px;">
        <h4 style="color: #333;"> Search My Alerts</h4>
        <form class="navbar-search pull-left">
          <input type="text"><i class="icon-search"></i>
        </form>
      </div><br/><br/>
      <hr style="border: 3px solid #D0D2D3;">
      <div style="padding-left: 15px;">
        <h4 style="color: #1B75BB"> Improve your DealTraction </h4>
        <h5 style="color: #1B75BB"> Add Target Company </h5>
        <form class="navbar-search pull-left">
          <input type="text" placeholder="Search"><i class="icon-search"></i>
        </form>
      </div>
      <br/><br/>
      <hr>
      <div  style="padding-left: 15px;">
        <h5 style="color: #1B75BB">  Add people from your networks </h5>
        <table width="90%" style="text-align: center">
          <tr>
            <td>LinkedIn</td>
            <td>Facebook</td>
          </tr>
          <tr>
            <td>Google+</td>
            <td>Twitter</td>
          </tr>
        </table>
      </div>     
      <hr>
      <div  style="padding-left: 15px;">
        <h5 style="color: #1B75BB"> Add industries </h5>
        <form class="navbar-search ">
          <input type="text"  placeholder="Search"><i class="icon-search"></i>
        </form>
      </div>
      <br/><br/>
      <hr>
      <div  style="padding-left: 15px;">       
        <h5 style="color: #1B75BB">Update your filters </h5>
      </div>
      <hr>
    </div>    

  </div>
</div>
