<div class="content">
  <div class="row">
    <div class="span12">
      <div class="span6">
        <h2>Add muscle to your professional networks.</h2>
        <p>The essential tool for business development professionals.</p>
        <ul>
          <li>Personalized and actionable intelligence</li>
          <li>Daily Alerts about your prospects</li>
          <li>Merges your connections with thousands of companies and news sources</li>
        </ul>
        <div><img src="/assets/login_with_linkedin.jpg"></div>
        <p class="free_till">Free for individuals until December 31,2013</p>
        <a href="">Or click here to create an account</a>
        <div class="border_top">
          <p>By signing up or clicking using your LinkedIn account, you agree to our <a>User Agreement</a> and <a>Privacy Policy</a>.</p>
        </div>
      </div>

      <div class="span5 pull-right">    
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item image1">
              <div class="carousel-caption">
                <h4>“I close more deals using DealTraction”</h4>
                <p><img src="/assets/dt_arrow_up.png"></p>
              </div>
            </div>

            <div class="item image2">
              <div class="carousel-caption">
                <h4>“It enhances my sales pipeline with new information and prospects”</h4>
                <p><img src="/assets/dt_arrow_up.png"></p>
              </div>
            </div>

            <div class="item image3">
              <div class="carousel-caption">
                <h4>“I get real-time alerts on how my network connects me to prospects”</h4>
                <p><img src="/assets/dt_arrow_up.png"></p>
              </div>
            </div>

          </div> 
        </div> 
        <div id="carousel-nav">
          <a href="#myCarousel" data-to="1" class="active"></a>
          <a href="#myCarousel" data-to="2"></a>
          <a href="#myCarousel" data-to="3"></a>
        </div>
      </div>
    </div>
  </div> 
  <div class="row border_bottom_thin">
    <div class="span12">
      <div class="span4 page_nav_item">
        <h3>Your Alerts</h3>
        <h4 class="text_grey">Learn More</h4>
      </div>
      <div class="span4 page_nav_item">
        <h3>Advanced Filters</h3>
        <h4 class="text_grey">Learn More</h4>
      </div>
      <div class="span4 page_nav_item">
        <h3>Our Privacy Guarantee</h3>
        <h4 class="text_grey">Learn More</h4>
      </div>
    </div>
  </div>
  <div class="row basic_info_header">
    <div class="span12">
      <div class="span1 dt_arrow_up"><img src="/assets/dt_arrow_up.png"></div>
      <div class="span5 dt_info_title"><h3>DealTraction Alerts</h3></div>
    </div>
  </div>
  <div class="row border_bottom_thin">
    <div class="span12">
      <div class="span5 info_detail"> 
        <div class="row">
          <h3>Get daily email alerts with all you lorem ipsum dolor headline.</h3>
        </div>
        <div class="row" >
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder here</h4>
          <div class="span4"> The essential tool for business development professionals delivering real-time actionable intelligence
          </div>
        </div>
        <div class="row">
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Placeholder Here</h4>
          <div class="span4"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
        <div class="row">
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder</h4>
          <div class="span4"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
      </div>
      <div class="span5 info_sample_image">
        <img src="/assets/news_alert.png" >
        <h4>Daily Alerts : <small>this is just a greek caption and the image is a placeholder con sectet teur is bodyco</small></h4>
      </div>
    </div>
  </div>
  <div class="row border_bottom_thin basic_info_header">
    <div class="span12">
      <div class="span1 dt_arrow_up"><img src="/assets/dt_arrow_up.png"></div>
      <div class="span5 dt_info_title"><h3>DealTraction Filters</h3></div>
    </div>
    <div class="span12">
      <div class="span5 info_sample_image">
        <img src="/assets/filter.png">
        <h4>Daily Alerts : <small>this is just a greek caption and the image is a placeholder con sectet teur is bodyco</small></h4>
      </div>
      <div class="span5 info_detail">   
        <div class="row">
          <h3>Filters let you customize all of your lorem ipsum dolor headline.</h3>
        </div>
        <div class="row">
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder here</h4>
          <div class="span4"> The essential tool for business development professionals delivering real-time actionable intelligence
          </div>
        </div>
        <div class="row">
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Placeholder Here</h4>
          <div class="span4"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
        <div class="row">
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder</h4>
          <div class="span4"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="row border_bottom_thin basic_info_header">
    <div class="span12">
      <div class="span1 dt_arrow_up"><img src="/assets/dt_arrow_up.png"></div>
      <div class="span5 dt_info_title"><h3>DealTraction Privacy</h3></div>
    </div>
    <div class="span12">
      <div class="span5 info_sample_image">
        <h3>DealTraction is committed to your is a privacy headline of your you</h3>
        <p class="text_grey">This is a placeholder copy sometimes called greek or lorem ipsum dolor to indicate style the essential tool for business development professionals delivering real-time actionable intelligence. For more informations, just go to our <a href="">commitment to privacy.</a></p>
      </div>
      <div class="span5 info_detail">
        <div class="row">       
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder here</h4>
          <div class="span4" > The essential tool for business development professionals delivering real-time actionable intelligence
          </div>
        </div>
        <div class="row">
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Placeholder Here</h4>
          <div class="span4"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
        <div class="row">
          <div class="span1"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder</h4>
          <div class="span4"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


