<div class="content">
  <div class="row">
    <div class="span12" style="background-color: white;width: 976px">
      <div class="span9" style="margin-left: 10px;">
        <div  class="hero-unit"style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;margin: 10px;padding:10px" >
          <div class="row">
            <div class="span3" style="position: relative;width: 220px">
              <span >
                <img src="/assets/pradeep.jpg" style="height: 30px; width: 30px;">
              </span>
              <span style="position: absolute;padding-left: 5px">
                <span style="font-size: 16px;color:#1B75BB;font-weight: bold ">Network Alert Summary</span> 
                <span style="font-size: 13px;color: #8C8D8F"> Thursday, <% @date =  Time.now %><%= @date.strftime("%B %d, %Y") %></span>
              </span>
            </div>
            <div class="span3" style="width: 190px">
              <ul style="list-style: none; color: #969594;font-weight: bold;font-size: 20px">
                <li> 14  <small>companies made</small></li>
                <li> 10  <small>headlines</small></li>
              </ul>
            </div>
            <div class="span1" style="border-left: 1px solid #bcbdbf; padding: 2px;height: 50px;width: 1px;"></div>
            <div class="span2"  style="width: 190px;margin-left: 0px;">
              <ul style="list-style: none; color: #969594;font-weight: bold;font-size: 17px">
                <li> 2 <small>new companies </small></li>
                <li> 3  <small>acquisitions</small></li>
                <li> 5 <small>recently funded</small></li>
              </ul>
            </div>
          </div>
        </div> 
      </div>
      <div class="span3">
        <div>
          <h4 style="color: #333;"> Search My Alerts</h4>
          <form class="navbar-search pull-left">
            <input type="text"><i class="icon-search"style="right: 9px;top: -30px;"></i>
          </form>
        </div>
      </div>           
    </div> 
  </div>
  <div class="row">
    <div class="span12" style="background-color: white;width: 976px">
      <h2 style="color: #5A5B5D; padding-left: 20px; padding-top: 10px;">Reminders</h2>
      <hr style="border: 1px solid #D0D2D3;">
    </div>

  </div>
  <div class="row">
    <div class="span12" style="background-color: white;width: 976px">
      <div class="span9">
        <div style="height: 160px">
          <span class="pull-right" style="margin-top: -10px;padding-right: 10px;color: #8C8D8F"><%= "Aug 29, 7:35am" %></span>
          <span class="content" style="font-size: 18px;color: #8C8D8F">Your connections with
            <b>
              Discovery Communications
            </b>
          </span>
          <br>
          <span class="news" style="font-size: 18px;color: #5d5e60;font-weight: bold">Recenty Funded: Lumosity Unlocks $31.5M for Brain Training</span>
          <br><br>
          <div class="news" style="font-size: 18px;color: #1B75BB">
            <div class="span9" style="margin-left: -17px">

              <span style="position: relative" class="span1">
                <span>
                  <img src="/assets/pradeep.jpg" style="height: 60px; width: 60px">
                </span>
                <span class="label label-info" style="position: absolute;right:0px;top:2px">You</span>                      
              </span>
              <span  class="span1" style="width: 20px;padding-top: 15px">  <img src="/assets/arrow.png"></span>
              <span  class="span1"><img src="/assets/Paula_Smith_New.jpg" style="height: 60px; width: 60px;"></span> 

              <span class="span2"  style="font-size: 14px;color: #8F9093;position: relative">
                <ul style="list-style: none;">
                  <li style=" font-weight: bold">Paula Smith</li>
                  <li>Senior Editor</li>
                  <li>Market Blog</li>
                </ul>
              </span>
              <span  class="span1" style="width: 20px;padding-top: 15px">  <img src="/assets/arrow.png"></span>
              <span  class="span1"><img src="/assets/Paula_Smith_New.jpg" style="height: 60px; width: 60px;"></span> 

              <span class="span2"  style="font-size: 14px;color: #8F9093;">
                <ul style="list-style: none;">
                  <li style=" font-weight: bold">Paula Smith</li>
                  <li>Senior Editor</li>
                  <li>Market Blog</li>
                </ul>
              </span>
            </div>
          </div>

          <div style="margin-top: 90px">
            <div class="pull-left" >
              <span style="width:200px;margin-left: 5px;color: #8F9093"> + Company</span>
              <span  style="width:200px;margin-left: 5px;color: #8F9093"> + Industry</span>
              <span  style="width:200px;margin-left: 5px;color:#1B75BB"> Your XX LinkedIn connections in Discovery...</span>
            </div>
            <div class="pull-right" style="padding-right: 10px;margin-top: -30px">
              <button type="button" class="btn btn-primary btn-small" style="width: 70px;margin-top: 15px">Share</button>
            </div>
          </div>       
        </div>
      </div>
      <div class="span3">
        <div style="background-color: #FDFAF1;height: 160px;">
          My Note: Must follow up Jim S refunding
          <button type="button" class="btn btn-small" style="width: 70px;margin-top: 15px;">Share</button>
        </div>
      </div>
    </div>
  </div>
</div>
