<div class="content">
  <div class="row">
    <div class="span12">
      <div class="span6" style="color: #8C8D8F;">
        <h2 style="padding-left: 0">Add muscle to your professional networks.</h2>
        <p>The essential tool for business development professionals.</p>
        <ul>
          <li>Personalized and actionable intelligence</li>
          <li>Daily Alerts about your prospects</li>
          <li>Merges your connections with thousands of companies and news sources</li>
        </ul>
        <div><img src="/assets/login_with_linkedin.jpg"></div>
        <p>Free for individuals until December 31,2013</p>
        <a href="">Or click here to create an account</a>
        <div style="border-top: 1px solid lightgrey" >
          <p style="color: black;font-size: 9px">By signing up or clicking using your LinkedIn account, you agree to our <a>User Agreement</a> and <a>Privacy Policy</a> </p>
        </div>
      </div>

      <div class="span5" style="float: right">    
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item" style="background-image: url('/assets/image1.png');background-repeat:no-repeat;">
              <div class="carousel-caption" style="height: 64px">
                <h4>“I close more deals using DealTraction”</h4>
                <p> <img src="/assets/dt_arrow_up.png"></p>
              </div>
            </div>

            <div class="item" style="background-image: url('/assets/image2.png');background-repeat:no-repeat;">
              <div class="carousel-caption"  style="height: 64px">
                <h4>“It enhances my sales pipeline with new information and prospects”</h4>
                <p> <img src="/assets/dt_arrow_up.png"></p>
              </div>
            </div>

            <div class="item" style="background-image: url('/assets/image3.png');background-repeat:no-repeat;">
              <div class="carousel-caption"  style="height: 64px">
                <h4>“I get real-time alerts on how my network connects me to prospects”</h4>
                <p> <img src="/assets/dt_arrow_up.png"></p>
              </div>
            </div>

          </div> 
        </div> 
        <div id="carousel-nav">
          <a href="#myCarousel" data-to="1" class="active"></a>
          <a href="#myCarousel" data-to="2"></a>
          <a href="#myCarousel" data-to="3"></a>
        </div>

      </div>
    </div>
  </div> 
  <div class="row" style="border-bottom: 1px solid lightgrey">
    <div class="span12">
      <div class="span4" style="text-align: center;margin-left: 0px;">
        <h3>Your Alerts</h3>
        <h4 style="color: #8C8D8F">Learn More</h4>
      </div>
      <div class="span4" style="text-align: center;margin-left: 0px;">
        <h3>Advanced Filters</h3>
        <h4 style="color: #8C8D8F">Learn More</h4>
      </div>
      <div class="span4" style="text-align: center;margin-left: 0px;">
        <h3>Our Privacy Guarantee</h3>
        <h4 style="color: #8C8D8F">Learn More</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="span1" style="padding-top: 20px"><img src="/assets/dt_arrow_up.png"></div>
      <div class="span5" style="margin-left: -40px;color: #1b75bb"><h3>DealTraction Alerts</h3></div>
    </div>
  </div>
  <div class="row" style="border-bottom: 1px solid lightgrey;">
    <div class="span12">
      <div class="span5" style="width: 450px;padding-left: 20px"> 
        <div class="row">
          <h3 style="color: #424344;margin-top: -7px">Get daily email alerts with all you lorem ipsum dolor headline.</h3>
        </div>
        <div class="row" >
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder here</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence
          </div>
        </div>
        <div class="row">
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Placeholder Here</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
        <div class="row">
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
      </div>
      <div class="span5" style="width: 440px">
        <img src="/assets/news_alert.png" >
        <h4>Daily Alerts : <small style="color: #424344">this is just a greek caption and the image is a placeholder con sectet teur is bodyco</small></h4>
      </div>
    </div>
  </div>
  <div class="row" style="border-bottom: 1px solid lightgrey;">
    <div class="span12">
      <div class="span1" style="padding-top: 20px"><img src="/assets/dt_arrow_up.png"></div>
      <div class="span5" style="margin-left: -40px;color: #1b75bb"><h3>DealTraction Filters</h3></div>
    </div>
    <div class="span12">
      <div class="span6">
        <img src="/assets/filter.png">
        <h4>Daily Alerts : <small style="color: #424344;">this is just a greek caption and the image is a placeholder con sectet teur is bodyco</small></h4>
      </div>
      <div class="span5" style="width: 450px;padding-left: 20px">   
        <div class="row">
          <h3 style="color: #424344;margin-top: -7px">Filters let you customize all of your lorem ipsum dolor headline.</h3>
        </div>
        <div class="row">
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder here</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence
          </div>
        </div>
        <div class="row">
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Placeholder Here</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
        <div class="row">
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="border-bottom: 1px solid lightgrey;">
    <div class="span12">
      <div class="span1" style="padding-top: 20px"><img src="/assets/dt_arrow_up.png"></div>
      <div class="span5" style="margin-left: -40px;color: #1b75bb"><h3>DealTraction Privacy</h3></div>
    </div>
    <div class="span12">
      <div class="span6">
        <h3 style="color: #424344;margin-top: -7px">DealTraction is committed to your is a privacy headline of your you</h3>
        <p style="color: gray">This is a placeholder copy sometimes called greek or lorem ipsum dolor to indicate style the essential tool for business development professionals delivering real-time actionable intelligence. For more informations, just go to our <a href="">commitment to privacy.</a></p>
      </div>
      <div class="span5" style="width: 450px;padding-left: 20px">
        <div class="row">       
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder here</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence
          </div>
        </div>
        <div class="row">
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Placeholder Here</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
        <div class="row">
          <div class="span1" style="margin-left: 0"><img src="/assets/d_logo.png"></div>
          <h4>Small subhead placeholder</h4>
          <div class="span4" style="margin-left: 0;margin-bottom: 20px;width: 375px;margin-top: -5px;"> The essential tool for business development professionals delivering real-time actionable intelligence about your prospects and deals
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


