/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    background-color: #D0D2D3 !important;
    min-width: 1170px;
}

.logo{
    padding-top: 7px;
    height: 43px;
    background-color: #D2D3D5;
    /* For WebKit (Safari, Chrome, etc) */
    background: #D2D3D5 -webkit-gradient(linear, left top, left bottom, from(#D2D3D5), to(#F0F0F2)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #D2D3D5 -moz-linear-gradient(top, #D2D3D5, #F0F0F2) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D2D3D5, endColorstr=#F0F0F2) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D2D3D5, endColorstr=#F0F0F2)" no-repeat;
}

.logo .container, .navbar .nav_top .container, body .container {
    width: 995px;
}

body .navbar {
    margin-bottom: 15px;
}


.reminder-count {
    color: white;
    background-color: #E61A22;
    padding-bottom: 12px;
}

/* CSS for footer */
footer {
    margin-bottom: 0;
    text-align: center;
}

footer .container > ul {
    list-style: none;
    padding-top: 50px;
    padding-bottom: 67px;
    margin-left: 0px;
}
footer .container > ul > li {
    float: left;
}
footer .container > ul > li > a{
    text-decoration: none;
}
footer .container > ul > li > span {
    padding-left: 13px;
    padding-right: 13px;
}

.white {
    color: white !important
}

.pointer{
    cursor: pointer
}
.dropdown .caret {
    border-top-color: white !important;
}
.input-prepend > .btn, .input-append > .btn {
    padding: 4px 10px;
}
.pull-right ul{
    list-style: none;
    margin-top: 10px;
}
.pull-right ul li{
    display: inline;
    padding-left: 10px;
}
.pull-right-li{
    display: inline;
}
.container_title{
    color: #98999B;
}
.span12 {
    background-color: white;
    width: 976px; 
}

root { 
    display: block;
}
.navbar-inner {
    border-radius: 0 !important;
}