/* 
    Document   : reminder
    Created on : 9 Oct, 2012, 12:14:26 PM
    Author     : aastha
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.span12 {
    background-color: white;
    width: 976px;  
}